/* Make body utilise 100% of width and height */
html,
body {
  margin: 0;
  height: 100%;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Style for restaurant details  */
.r-details-wrapper {
  padding: 20px;
  background: #e0e0e0;
  margin: 0 !important;
  width: 100% !important;
}

.r-details-wrapper-id {
  width: 100% !important;
}

img {
  width: 100%;
}

/* Styling for restaurant name */
.r-name {
  margin-bottom: 8px;
  font-weight: 500;
  opacity: 0.6;
}

/* Styling for top and bottom containers towards right in restaurant details */
.r-details-container-top,
.r-details-container-bottom {
  padding-left: 60px;
}

/* Styling for locality */
.r-locality {
  margin-top: 8px;
  font-weight: 700;
  font-size: 1.1em;
  letter-spacing: 1pt;
  opacity: 0.5;
  text-transform: uppercase;
}

/* Styling No. of customers and average cost */
.r-no-of-customers,
.r-avg-cost {
  width: 30%;
  margin-top: 0;
  opacity: 0.4;
  letter-spacing: 1pt;
}

/* Styling for order menu and cart*/
.order-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 70px;
  padding-top: 30px;
}

.category-container {
  width: 40%;
}

.category-name {
  margin-top: 40px;
  margin-bottom: 8px;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: medium;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0.4;
}

.horizontal-line {
  margin-bottom: 20px !important;
}

.item-details-container {
  margin-bottom: 25px;
}

.veg {
  color: #008000;
}

.non-veg {
  color: #cc0000;
}

/* decrease the space between item name and item type */
.MuiGrid-grid-xs-1 {
  flex-basis: 5% !important;
}

.item-name {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  text-transform: capitalize;
  padding-top: 3px;
}

.item-price {
  text-align: right;
  padding-right: 1em;
}

.addIcon {
  padding: 0 !important;
}

/* Styling for card-container*/
.cart-container {
  width: 30%;
  margin-top: 1em;
}

/* card contents column wise */
#card-content {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
}

.card-header {
  margin-top: 0.5em;
}

.card-heading {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  display: inline;
  font-weight: bold;
  font-size: large;
  margin-left: 1.4em;
}

/* total amount */
.total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: bold;
  font-size: small;
}

/* Checkout button */
.checkout {
  width: 100%;
}

/* Dynamic items and qyantity displayed in the card */
.cart-items {
  margin: 0.8em 0;
}

/* Item type, name, quantity and amount */
.cart-item-details-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.9em;
}

.cart-item-name {
  text-transform: capitalize;
  margin-right: 2.5em !important;
}

.cart-item-name,
.cart-item-price {
  opacity: 0.6;
}

.cart-item-price {
  text-align: right;
}

/* cart minus */
.cart-minus {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.cart-minus:hover {
  cursor: pointer;
  background-color: rgb(255, 255, 0);
  border-radius: 50%;
}

/* cart plus */
.cart-plus {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.cart-plus:hover {
  cursor: pointer;
  background-color: rgb(255, 255, 0);
  border-radius: 50%;
}

.cart-quantity {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.loading {
  margin-left: 50%;
  font-size: 100px !important;
  color: rgb(245, 29, 65);
}

.backend-error {
  width: 40%;
  margin: 10% auto;
}

/* Styling for width of screens less than 900px */
@media screen and (max-width: 900px) {
  #r-details-wrapper-id {
    width: 100%;
    margin: 0;
  }

  /* below follows the styling for restaurant information section */
  .r-details-wrapper,
  .r-details-container-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  img {
    width: 80%;
  }

  .r-image {
    text-align: center;
  }

  .r-name {
    margin-top: 0;
  }

  .r-details-container-top {
    padding-top: 0;
    padding-right: 0;
  }

  .r-details-container-top,
  .r-details-container-bottom {
    padding-left: 0;
  }

  .r-rating,
  .r-cost {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .r-no-of-customers,
  .r-avg-cost {
    width: 100%;
    text-align: center;
  }
  /* End of styling for restaurant information section */

  /* Styling for order menu and cart*/
  .order-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .category-container,
  .cart-container {
    width: 100%;
  }

  .item-details-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap !important;
  }

  .item-price {
    padding-right: 0;
  }

  .addIcon {
    margin-left: 5px !important;
  }

  /* '-' and '+' displays above and below */
  .cart-quantity-container {
    padding-right: 2em;
  }
}

/* For mobile use */
@media screen and (max-width: 500px) {
  .r-name {
    font-size: 1.5em;
    opacity: 0.8;
  }

  .r-categories {
    text-align: center;
    margin-top: 0;
  }

  .r-details-container-bottom {
    align-items: initial !important;
  }

  .r-rating,
  .r-cost {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .r-no-of-customers,
  .r-avg-cost {
    width: 100%;
    text-align: center;
    font-size: 0.9em;
    margin-bottom: 0;
  }
  /* End of styling for restaurant information section */

  /* Styling for order menu and cart*/
  .order-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    padding-top: 0.5em;
  }

  .category-container,
  .cart-container {
    width: 100%;
  }

  .item-details-container {
    display: flex;
    flex-direction: row;
  }

  .item-name {
    width: 10%;
    padding-left: 0.5em;
  }

  /* '-' and '+' displays above and below */
  .cart-quantity-container {
    padding-right: 1em;
  }

  .cart-item-details-container {
    margin-top: 0.5em;
  }
}
